.App {
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

.content {
  margin-top: 50px;
}

.card {
  margin-bottom: 20px;
}

.list-item {
  border: 5px;
  top: 5px;
  margin-bottom: 10px;
}

.list-item .item-name {
  --bs-text-opacity: 1;
  color: #6c757d!important;
}

.list-item .item-value {
  margin-left: 5px;
  font-weight: bold;
  font-size: 1em;
}

.balance-badge {
  font-size: 1em !important;
}

.ballot-buttons {
  margin: 20px;
}

.ballot-buttons-subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ballot-buttons-group {
  text-align: center;
}

.ballot-button {
  margin-right: 20px;
  height: 50px;
  width: 100px;
  font-weight: bold !important;
}

.ballot-result {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.logos {
  margin-top: 100px;
}